@import 'variables.scss';
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-wrapper {
  height: 72px;
}

.header {
  position: fixed;
  z-index: 1;
  padding: 24px;
  width: 100%;
  background-color: $light;
}

.main {
  display: flex;
  flex: 1;
}

$container-padding: map-get($spacers, 8);
.home-container {
  padding-top: $container-padding;
  padding-bottom: $container-padding;
  display: flex;
  flex-direction: column;
  flex: 1 0 0rem;
  justify-content: space-around;
  text-align: center;
}

.footer {
  background-color: $light;
  padding: 24px;
}
