@import 'variables.scss';
@import 'mixins.scss';
@import 'bootstrap.scss';
@import 'typography.scss';
@import 'layout.scss';

.img-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
$token-min-width: map-get($spacers, 11);
.token-input {
  min-width: $token-min-width;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.amount-input {
  width: 200px;
}

.claim-list {
  display: flex;
  flex: 1 0 0rem;
  flex-direction: column;
  margin-top: 8px;
}

.btn-wrapper {
  padding-top: 2px !important;
  .btn-y-center {
    padding-top: 0;
    padding-bottom: 0;
  }
}
